/* /* style-section */

 @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
main{
    background-color: #f5f5f5;
}

body{
     font-family: "Poppins", sans-serif;
}
.st{
    font-weight: 100;
}
.container-1{
    width: 800px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.para2 img{
    width: 200px;
}
button{
    color: white;
    text-align: center;
    border: 10px;
    border-color: rosybrown;
    background-color :#FF3C83;
    border-radius: 15px;
    
}

/* .button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(41, 7, 80);
  background-color: #740716;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(165, 16, 16);ssss
} */

/* .button:hover {background-color:red} */

/* .button:active {
  background-color: #740716;
  box-shadow: 0 5px rgb(165, 16, 16);
  transform: translateY(4px);
} */

hr{
    border: 1px solid steelblue;
}
.company-logo{
    display: flex;
    justify-content: space-around;
}

/*----- 2nd section---
---------------------*/
.grid{
    /* width: 800px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;   
    grid-row-gap: 10px;
    padding: 2% 5%;
}
.price{
    font-weight: 100;
}

/* ------rating star
------------------- */
.fa-star.filled{
    color: #FFC014
}


/* footer */
footer{
    padding-top: 10px;
    line-height: 2px;
    padding-bottom: 10px;
    height: 120px;
    width: 100%;
    background-color: #0B0635;
} 
.footer{
    text-align: center;
    
    color: white;
}